<div class="card border-primary mb-3">
    <div class="card-header">Compañías
        <button type="button" class="btn btn-primary float-right" (click)="switchId()">{{ showId ? 'Ocultar' : 'Mostrar' }} ID</button>
    </div>
    <div class="card-body text-primary">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th *ngIf="showId">ID</th>
                    <th>CIF</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let compania of companias">
                    <td *ngIf="showId">{{ compania.idCompania }}</td>
                    <td>{{ compania.cif }}</td>
                    <td>{{ compania.nombreCompania }}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>

