<div class="card border-primary mb-3">
    <div class="card-header">Tiendas
        <button type="button" class="btn btn-primary float-right" (click)="switchId()">{{ showId ? 'Ocultar' : 'Mostrar' }} ID</button>
    </div>
    <div class="card-body text-primary">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th *ngIf="showId">ID</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tienda of tiendas ">
                    <td *ngIf="showId">{{ tienda.idTienda}}</td>
                    <td>{{ tienda.nombre }}</td>
                    <td>{{ tienda.direccion }}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
