<div class="card bg-light">
    <div class="card-header">{{ title }}</div>
    <div class="card-body">
        <form (ngSubmit)= "create()">

            <div class="form-group row">
                <label for= "titulo" class="col-form-label col-sm-3">Título</label>
                <div class="col-sm-6">
                     <input name="titulo" type="text" class="form-control" [(ngModel)]="juego.titulo" placeholder="Título" maxlength="255" requiered="true">
                </div>
            </div>


            <div class="form-group row">
                <label for= "fechaLanzamiento" class="col-form-label col-sm-3">Fecha de Lanzamiento</label>
                <div class="col-sm-6">
                     <input name="fechaLanzamiento" type="text" class="form-control" [(ngModel)]="juego.fechaLanzamiento" requiered="true">
                </div>
            </div>

            <div class="form-group row">
                <label for= "precio" class="col-form-label col-sm-3">Precio</label>
                <div class="col-sm-6">
                     <input name="precio" type="number" min="0" class="form-control" [(ngModel)]="juego.precio" requiered="true">
                </div>
            </div>

            <div class="form-group row">
                <label for= "pegi" class="col-form-label col-sm-3">PEGI</label>
                <div class="col-sm-6">
                     <input name="pegi" type="number" min="0" max="18" class="form-control" [(ngModel)]="juego.pegi" requiered="true">
                </div>
            </div>

            <div class="form-group row">
                <label for= "categoria" class="col-form-label col-sm-3">Categoría</label>
                <div class="col-sm-6">
                     <input name="pegi" type="text" min="0" max="18" class="form-control" [(ngModel)]="juego.categoria" requiered="true">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button">Crear</button>
                    <button class="btn btn-secondary ml-2"  routerLink="/juegos">Cancelar</button>
                </div>
            </div>

            
            

        </form>
    </div>
</div>
