<div class="card border-primary mb-3">
    <div class="card-header">Stock
        <button type="button" class="btn btn-primary float-right" (click)="switchId()">{{ showId ? 'Ocultar' : 'Mostrar' }} ID</button>
    </div>
    <div class="card-body text-primary">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th *ngIf="showId">ID</th>
                    <th>Referencia</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stock of stocks">
                    <td *ngIf="showId">{{ stock.idStock }}</td>
                    <td>{{ stock.numRef }}</td>
                    <td>{{ stock.nombreJuego }}</td>
                    <td>{{ stock.estadoStock }}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
