<div class="card border-primary mb-3">
    <div class="card-header">Clientes
        <button type="button" class="btn btn-primary float-right" (click)="switchId()">{{ showId ? 'Ocultar' : 'Mostrar' }} ID</button>
    </div>
    <div class="card-body text-primary">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th *ngIf="showId">ID</th>
                    <th>Nombre</th>
                    <th>DNI</th>
                    <th>Fecha Nacimiento</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td *ngIf="showId">{{ cliente.idCliente }}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.dni }}</td>
                    <td>{{ cliente.fechaNacimiento | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ cliente.correo }}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>

